.side-bar-input{
    display: block;
    width:90%;
    margin-bottom: 1em;
}

.side-bar{
    text-align: center;
}

.side-bar-create-new-ticket-header{
    margin-bottom: 0.3em;
    font-size: 1.4em;
    color: #22206c;
}

.save-btn{
    display: block;
    margin-top:1em;
}

.side-bar-error-msg{
    color:red;
}