.side-bar-input{
    display: block;
    width:90%;
    margin: 1em auto;
}

.side-bar-input-label{
    margin-left: 1em;
}

.side-bar{
    text-align: center;
}

.side-bar-create-new-ticket-header{
    margin-bottom: 0.3em;
    font-size: 1.4em;
    color: #22206c;
}

.save-btn{
    display: block;
    margin-top:1em;
}

.side-bar-error-msg{
    color:red;
}

.form-control{
    width:100%;
}

.MuiFormHelperText-root-92{
    padding-left: 1.2em;
}