.App{
    display: flex;
    flex-direction: row;
    height: 100%;
    width:100%;
}

.map-right{
    width:100%;
    height:100%;
    overflow: hidden;
}

.side-bar-left{
    height: 100%;
    width: 350px;
}

#map{
    width: 100%;
    height: 100%;
    position: absolute;
}

